# Automação Web e Busca de Informações com Python

#### Desafio: 

Trabalhamos em uma importadora e o preço dos nossos produtos é vinculado a cotação de:
- Dólar
- Euro
- Ouro

Precisamos pegar na internet, de forma automática, a cotação desses 3 itens e saber quanto devemos cobrar pelos nossos produtos, considerando uma margem de contribuição que temos na nossa base de dados.

Base de Dados: https://drive.google.com/drive/folders/1KmAdo593nD8J9QBaZxPOG1yxHZua4Rtv?usp=sharing

Para isso, vamos criar uma automação web:

- Usaremos o selenium
- Importante: baixar o webdriver

In [5]:
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.common.by import By

### Usando o Selenium

In [42]:
# abrir um navegador
navegador = webdriver.Chrome()
navegador.get("https://www.google.com/")

# Passo 1: Pegar a cotação do Dólar
navegador.find_element_by_xpath("/html/body/div[1]/div[3]/form/div[1]/div[1]/div[1]/div[2]/div[2]/input").send_keys("Cotação Dolar")
navegador.find_element_by_xpath("/html/body/div[1]/div[3]/form/div[1]/div[1]/div[1]/div[2]/div[2]/input").send_keys(Keys.ENTER)
cotacao_dolar = navegador.find_element_by_xpath("/html/body/div[7]/div/div[10]/div[1]/div/div[2]/div[2]/div/div/div[1]/div/div/div/div/div/div/div[1]/div[1]/div[2]/span[1]").get_attribute("data-value")
print("="*30)
print(f"1 Dolar americano = {cotacao_dolar:.4} Reais Brasileiros")
print("="*30)

#Passo 2: Pegar cotacao_euro
navegador.get("https://www.google.com/")
navegador.find_element_by_xpath("/html/body/div[1]/div[3]/form/div[1]/div[1]/div[1]/div[2]/div[2]/input").send_keys("Cotação Euro")
navegador.find_element_by_xpath("/html/body/div[1]/div[3]/form/div[1]/div[1]/div[1]/div[2]/div[2]/input").send_keys(Keys.ENTER)
cotacao_euro = navegador.find_element_by_xpath("/html/body/div[7]/div/div[10]/div[1]/div/div[2]/div[2]/div/div/div[1]/div/div/div/div/div/div/div[1]/div[1]/div[2]/span[1]").get_attribute("data-value")
print("="*30)
print(f"1 Euro = {cotacao_euro:.4} Reais Brasileiros")
print("="*30)

# Passo 3: Pegar cotação Ouro
navegador.get("https://www.google.com/")
navegador.find_element_by_xpath("/html/body/div[1]/div[3]/form/div[1]/div[1]/div[1]/div[2]/div[2]/input").send_keys("Cotação Ouro")
navegador.find_element_by_xpath("/html/body/div[1]/div[3]/form/div[1]/div[1]/div[1]/div[2]/div[2]/input").send_keys(Keys.ENTER)
navegador.find_element_by_xpath("/html/body/div[7]/div/div[10]/div[1]/div/div[2]/div[2]/div/div/div[2]/div/div/div[1]/div[1]/div/div[1]/a").click()
cotacao_ouro = navegador.find_element_by_xpath("/html/body/div[6]/div[1]/div/div/input[2]").get_attribute("value")
cotacao_ouro = cotacao_ouro.replace(",", ".")
print("="*30)
print(f"1g de Ouro = {cotacao_ouro:.6} Reais Brasileiros")
print("="*30)

C:\Users\pedro\AppData\Local\Temp/ipykernel_23728/1212687072.py:6: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  navegador.find_element_by_xpath("/html/body/div[1]/div[3]/form/div[1]/div[1]/div[1]/div[2]/div[2]/input").send_keys("Cotação Dolar")
C:\Users\pedro\AppData\Local\Temp/ipykernel_23728/1212687072.py:7: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  navegador.find_element_by_xpath("/html/body/div[1]/div[3]/form/div[1]/div[1]/div[1]/div[2]/div[2]/input").send_keys(Keys.ENTER)
C:\Users\pedro\AppData\Local\Temp/ipykernel_23728/1212687072.py:8: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  cotacao_dolar = navegador.find_element_by_xpath("/html/body/div[7]/div/div[10]/div[1]/div/div[2]/div[2]/div/div/div[1]/div/div/div/div/div/div/div[1]/div[1]/div[2]/span[1]").get_attribute("data-value")

==============================
1 Dolar americano = 5.53 Reais Brasileiros
==============================

C:\Users\pedro\AppData\Local\Temp/ipykernel_23728/1212687072.py:15: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  navegador.find_element_by_xpath("/html/body/div[1]/div[3]/form/div[1]/div[1]/div[1]/div[2]/div[2]/input").send_keys("Cotação Euro")
C:\Users\pedro\AppData\Local\Temp/ipykernel_23728/1212687072.py:16: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  navegador.find_element_by_xpath("/html/body/div[1]/div[3]/form/div[1]/div[1]/div[1]/div[2]/div[2]/input").send_keys(Keys.ENTER)
C:\Users\pedro\AppData\Local\Temp/ipykernel_23728/1212687072.py:17: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  cotacao_euro = navegador.find_element_by_xpath("/html/body/div[7]/div/div[10]/div[1]/div/div[2]/div[2]/div/div/div[1]/div/div/div/div/div/div/div[1]/div[1]/div[2]/span[1]").get_attribute("data-value")

==============================
1 Euro = 6.33 Reais Brasileiros
==============================

C:\Users\pedro\AppData\Local\Temp/ipykernel_23728/1212687072.py:24: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  navegador.find_element_by_xpath("/html/body/div[1]/div[3]/form/div[1]/div[1]/div[1]/div[2]/div[2]/input").send_keys("Cotação Ouro")
C:\Users\pedro\AppData\Local\Temp/ipykernel_23728/1212687072.py:25: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  navegador.find_element_by_xpath("/html/body/div[1]/div[3]/form/div[1]/div[1]/div[1]/div[2]/div[2]/input").send_keys(Keys.ENTER)
C:\Users\pedro\AppData\Local\Temp/ipykernel_23728/1212687072.py:26: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  navegador.find_element_by_xpath("/html/body/div[7]/div/div[10]/div[1]/div/div[2]/div[2]/div/div/div[2]/div/div/div[1]/div[1]/div/div[1]/a").click()

==============================
1g de Ouro = 324.80 Reais Brasileiros
==============================

C:\Users\pedro\AppData\Local\Temp/ipykernel_23728/1212687072.py:27: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  cotacao_ouro = navegador.find_element_by_xpath("/html/body/div[6]/div[1]/div/div/input[2]").get_attribute("value")

### Agora vamos atualiza a nossa base de preços com as novas cotações

- Importando a base de dados

In [43]:
import pandas as pd

In [44]:
produtos_df = pd.read_excel("Produtos.xlsx")
display(produtos_df)

,Produtos,Preço Base Original,Moeda,Cotação,Preço Base Reais,Margem,Preço Final
0,Câmera Canon,999.99,Dólar,5,4999.95,1.40,6999.930
1,Carro Renault,4500.00,Euro,6,27000.00,2.00,54000.000
2,Notebook Dell,899.99,Dólar,5,4499.95,1.70,7649.915
3,IPhone,799.00,Dólar,5,3995.00,1.70,6791.500
4,Carro Fiat,3000.00,Euro,6,18000.00,1.90,34200.000
5,Celular Xiaomi,480.48,Dólar,5,2402.40,2.00,4804.800
6,Joia 20g,20.00,Ouro,350,7000.00,1.15,8050.000

- Atualizando os preços e o cálculo do Preço Final

In [45]:
produtos_df.loc[produtos_df['Moeda'] =='Dólar','Cotação' ]= float(cotacao_dolar)
produtos_df.loc[produtos_df['Moeda'] =='Euro','Cotação' ]= float(cotacao_euro)
produtos_df.loc[produtos_df['Moeda'] =='Ouro','Cotação' ]= float(cotacao_ouro)

display(produtos_df)

#Atualizar as colunas

,Produtos,Preço Base Original,Moeda,Cotação,Preço Base Reais,Margem,Preço Final
0,Câmera Canon,999.99,Dólar,5.534600,4999.95,1.40,6999.930
1,Carro Renault,4500.00,Euro,6.332911,27000.00,2.00,54000.000
2,Notebook Dell,899.99,Dólar,5.534600,4499.95,1.70,7649.915
3,IPhone,799.00,Dólar,5.534600,3995.00,1.70,6791.500
4,Carro Fiat,3000.00,Euro,6.332911,18000.00,1.90,34200.000
5,Celular Xiaomi,480.48,Dólar,5.534600,2402.40,2.00,4804.800
6,Joia 20g,20.00,Ouro,324.800000,7000.00,1.15,8050.000

### Atualizando as colunas

> Preco Base Reais = preco Base original * cotação

<br>

> Preco Final= Preco Base Reais * Margem

In [46]:
# Preco de compra novo
produtos_df["Preço Base Reais"] = produtos_df["Preço Base Original"] * produtos_df["Cotação"]

produtos_df['Preço Final'] = produtos_df['Preço Base Reais'] * produtos_df["Margem"]

display(produtos_df)

,Produtos,Preço Base Original,Moeda,Cotação,Preço Base Reais,Margem,Preço Final
0,Câmera Canon,999.99,Dólar,5.534600,5534.544654,1.40,7748.362516
1,Carro Renault,4500.00,Euro,6.332911,28498.098168,2.00,56996.196336
2,Notebook Dell,899.99,Dólar,5.534600,4981.084654,1.70,8467.843912
3,IPhone,799.00,Dólar,5.534600,4422.145400,1.70,7517.647180
4,Carro Fiat,3000.00,Euro,6.332911,18998.732112,1.90,36097.591013
5,Celular Xiaomi,480.48,Dólar,5.534600,2659.264608,2.00,5318.529216
6,Joia 20g,20.00,Ouro,324.800000,6496.000000,1.15,7470.400000

### Exportando a nova base de dados atualizada

In [47]:
produtos_df.to_excel("Produtos novos.xlsx", index=False)